#monitor-window-wrapper{
  #monitor-window{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(#1b7423, #2a5c2b);
    border: 2px solid #eae703;
    color: #dce7df;
    overflow-y: auto;
    margin-bottom: 10px;

    div{
      width: calc(100% - 10px);
      padding: 5px;
      border-bottom: 1px solid #eae703;

      &.user-command{
        color: #ffffff;
        background-color: #159242;
      }
    }

    &.relevant-only{
      div:not(.relevant){
        visibility: collapse;
      }
    }

    .item-span{ color: #29c9e4; }
    .location-span{ color: #ffff00; }
    .finder-span{ color: #0cff27; }
    .recipient-span{ color: #ffc0cb; }
    .mine{ color: #ffa500; }
  }

  #command-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 25px;
    line-height: 25px;

    input{
      margin-left: 0.5em;
      flex-grow: 1;
    }
  }
}
